.btn {
  padding: 0 1rem;
  background: #444857;
  font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
  font-size: 1rem;
  text-shadow: none;
  display: inline-block;
  position: relative;
  border-radius: 4px;
  border: 3px solid transparent;
  background: #444857;
  color: white;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none !important;
  text-align: center;
  font-weight: normal !important;
  margin: 0 4px;
  min-height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}