@import '../../assets/scss/button.scss';

.header {
  box-shadow: 0 2px 5px rgba(0,0,0,.5);
  border-bottom: 1px solid #444857;
  background: #1e1f26;
  height: 65px;
  display: flex;
  justify-content: space-between;

  &__logo-wrapper {
    display: flex;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 10px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;    
  }

  &__pen-name {
    display: flex;
    margin-bottom: 0;

    input {
      background: transparent !important;
      color: blue;
      font-size: 1.25rem;
      color: #fff !important;
      border: none;
      display: inline-block;
      width: 75px;
      max-width: 225px;
      resize: horizontal;

      &:focus {
        outline: none;
        // width: 100%;
      }
    }
    
    img {
      padding-left: .25em;
      color: #fff !important;
      cursor: pointer;
    }
  }

  &__username {
    p{
      color: #9b9dad;
      font-size: .875rem;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: center;

    .btn {
      img{
        padding-right: .25em;
      }
    }

    .profile {
      padding: 0;
      background: transparent;
    }

    .pinned-items {
      padding: 0;
    }
  }
}